*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;

}
.banner{

    width: 100%;

}
.navbar{

    width: 100%;
    margin: auto;
    padding: -10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:red;

}
.logo{
    width: 100px;
    display: flex;
    left: 2px;
    position: relative;
    cursor: pointer;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
    left: -115px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
}
.search{
    position: relative;
    left: -245px;
    top: 16px;
}
.search input{
    width: 70%;
    padding: 5px;
    border: 1px solid #0c0c4b;
    border-radius: 30px;
    margin-top: 30px;

}
.search button {
    font-size: 10px;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: lightgreen;
    font-weight: normal;
    border: none;
    color: black;
    height: 100%;
    cursor: pointer;
}
.search button:hover{
 background-color:greenyellow;
}
.login a{
    color: white;
    margin-left: 200px;
    left: 170px;
    top: -35px;
    position: relative;
    text-decoration: none;
}
.login a:hover{
    color: greenyellow;
}
.logo2{
    cursor: pointer;
    position: relative;
    left: 550px;
    top: -58px;
 
}
.logo3{
    cursor: pointer;
    top: 7px;
    position: relative;
}
.navbar ul li::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
.dropdown-content a:hover{
    background-color: blue;
}
.dropdown:hover .dropdown-content {
    display:block;
}